shaltop_frankslide/delta_15p00/plots
shaltop_frankslide/delta_15p00/processed
shaltop_frankslide/delta_20p00/plots
shaltop_frankslide/delta_20p00/processed
shaltop_frankslide/delta_25p00/plots
shaltop_frankslide/delta_25p00/processed